/* UserInfo.css */
.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #800000;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-weight: 800;

}
.button, .text-field, .combo-box {
    -fx-max-width: 200px;
}

.button:hover {
    -fx-background-color: #550000;
    -fx-cursor: hand;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 20;
}
.error-label {
    visibility: hidden;
}
