@import "UserSettings.css";

.toggle-button {
    -fx-border-color: rgb(51, 51, 51, .25);
    -fx-padding: 16px 24px;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-text-fill: #9E9E9E;
    -fx-background-radius: 12px;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}
.toggle-button:hover {
    -fx-background-color: #6e6e6e;
    -fx-text-fill: white;
}
.toggle-button:selected {
    -fx-background-color: #00CA18;
    -fx-text-fill: white;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color:  transparent;
}
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-background-color: #29292D;
    -fx-border-color: #29292D;
    -fx-text-fill: lightgray;
    -fx-alignment: CENTER_LEFT;

}
.table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color:  #6622CC;


}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #6622CC,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}
.table-view {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}