.root {
    -fx-font-family: 'Arial';
}

/*.button {*/
/*    -fx-background-color: #800000;*/
/*    -fx-text-fill: white;*/
/*}*/

/*.button:hover {*/
/*    -fx-text-fill: #640000;*/
/*    -fx-animated: ;*/
/*}*/

.label {
    -fx-padding: 5px;
}

.table-view {
    -fx-border-color: lightgray;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
}

.gray-sidebar {
    -fx-background-color: rgb(68, 68, 68, 0.1);
    -fx-opacity: 10;
}
.sidepanel-button {
    -fx-background-color: transparent;
    -fx-text-fill: #444444;
    -fx-font-size: 18;
}
.selected {
    -fx-text-fill: #640000;
}
.button {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}
.button:hover {
    -fx-cursor: hand;
}
.type-label {
    -fx-font-size: 14px;
    -fx-text-fill: #777777;
}
.subtitle-label {
    -fx-text-fill: #444444;
}
.focus {
    -fx-text-fill: black;
    -fx-font-size: 21px;
}
.h1 {
    -fx-font-size: 32px;
}
.h2 {
    -fx-font-size: 24px;

}
.h3 {
    -fx-font-size: 20px;

}
.blurb-text {
    -fx-font-size: 18px;
}
.gray {
    -fx-text-fill: #777777;
}
.blurb {
    -fx-border-color: rgb(51, 51, 51, .25);
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
    -fx-background-radius: 25px;
    -fx-pref-width: 350px;
}
.mini {
    -fx-pref-width: 250px;
    -fx-pref-height: 250px;
}
.tall {
    -fx-pref-width: 450px;
    -fx-pref-height: 660px;
}
.wide {
    -fx-pref-width: 990px;
    -fx-pref-height: 380px;
}
.secondary {
    -fx-background-color: transparent;
    -fx-border-color: rgb(136, 136, 136,.5);
    -fx-border-width: 3px;
    -fx-font-weight: bold;

}
.secondary:hover {
    -fx-background-color: rgb(136, 136, 136,.5);
    -fx-text-fill: white;
}
.primary {
    -fx-font-weight: bold;
    -fx-background-color: #a7c957;
    -fx-text-fill: white;
}
.primary:hover {

    -fx-border-width: 3px;
    -fx-border-style: solid inside;
    -fx-border-color: transparent;

}
.danger {
    -fx-font-weight: bold;
    -fx-background-color: #c1121f;
    -fx-text-fill: white;
}
.text-lg {
    -fx-font-size: 16px;
}
.text-xl {
    -fx-font-size: 18px;
}